body{
    background-color: #fff;
}
.screen{
    width: 400px;
    height: 500px;
    background-color: grey;
    margin-left: 500px;
    margin-top: 100px;
    border: solid 2px;
    border-color: #000;
    background-color: grey;
}
#user-screen{
    width: 80%;
    margin-left: 36px;
    margin-top: 30px;
    height: 40px;
    pointer-events: none;
    font-size: 20px;
    background-color: #000;
    color: honeydew;
    border-radius: 10px;
}
.btn{
    width: 60px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
    font-size: 20px;
    background-color:#000;
    color: honeydew;
}
.btn:hover{
    background-color: honeydew;
    color: #000;
}